body, html{
   margin:0;
   padding:0;
}
.screen-wrapper{
   width : 100vw;
   height : 100vh;

   /*to center the box*/
   display: flex;
   justify-content: center;
   align-items: center;

}

.otp-conatiner{
   width: 800px;
   padding: 20px;
   border: 2px solid black;
   border-radius: 10px; /*to round the border*/
   text-align: center; /*to center the text h3*/
}

.otp-input{
   width:64px;
   height: 100px;
   font-size:80px;
   text-align: center;
   margin: 0 4px;
}

.otp-input:focus{
   outline: none;
   border: 2px solid #9db8f5;
}

.otp-input:not(:placeholder-shown) {
   box-shadow: 0 2px 11px 0px grey;
   border: 2px solid #bcd6ed;
 }

.foot-note{
   background-color: #eeeeee;
   color: #b7b7b7;
   width: 400px;
   border-radius: 5px;
   margin: auto;
   margin-top: 20px;
   padding: 8px;
}